<head> <meta content="text/html; charset=utf-8" http-equiv="Content-Type"></head>
<pre>
UnOfficial gpSP kai
-- gameplaySP  Gameboy Advance emulator for Playstation Portable --

-- Release log --
<!--
	（現在修正中）HBLANK割込の処理を修正
	（現在修正中）メッセージの変更
	（現在修正中）MULTIモードの通信に対応(現状では2台のみ)
	（現在修正中）ASMコアのthumb BLの修正（Cコアでは正常）
	（現在修正中）ERAMとIRAMのキャッシュを分離
-->
-UnOfficial gpSP kai 3.4 test 4 build
	CFW 5.50GEN-B に対応
	サウンドのズレを一部修正

-UnOfficial gpSP kai 3.4 test 3 build
	ZIP解凍時に1MBのメモリが確保できない場合、フリーズしてしまうのを修正(PSP-2000/3000)
	画面の拡大縮小設定を追加（本体表示時のみ）

-UnOfficial gpSP kai 3.4 test 2 build 69
	メインフォントとサブフォントの優先順位を調整（「ヲボタン問題」が直ったと思います）
	配布ファイルにGBAフォルダが無くなっていたので修正
	配布ファイルにms0/PSP/GAME/gpSPのフォルダを準備しないとインストール出来ない方もいるので修正
	ステートセーブデータに互換性が無くなっていたので、旧バージョンも読み込める様に修正
	ステートセーブデータ内にフォーマットバージョンを追加
	旧ステートファイルの読込みを廃止（506947byteのファイル）
	ステートメニュー時のメモリースティック連続アクセスを修正

-UnOfficial gpSP kai 3.4 test 1 build 2
	ChickHEN R2に対応（PSP-2000で32MBのメモリ利用とZIPファイルのロードを確認）
	PSP-1000でZIPファイルを使用したときのバグを修正
	BIOSからの起動に対応（あのピコーンが聞きたいだけです）
	そのほか軽微な修正

-UnOfficial gpSP kai 3.3 test 2 build 132 svn.402
	ZIPファイルを２回目にロードしたときのフリーズを修正
	ROMバッファ以上のZIPファイルの読み込みに対応
		（ROMフォルダに解凍後のZIP_TMP.gbaを作成します。空き容量に注意してください）

-UnOfficial gpSP kai 3.3 test 2 build 49 svn.399
	チートとその他のオプションを分離
	デバッグ用にCコアARMエミュを復活
	CコアとASMコアのARMエミュを切替えられる様にした(再起動後に有効)
	一時的にROMキャッシュを１MBに減らしていたのを元に戻す
	その分、RAMキャッシュを少し減らす
	ZIPファイルの解凍時に、PSP-1000の解凍用バッファを320KBに拡張
	BMPバッファを汎用VRAM上に取り、112.5KBほどメモリを節約
	PSP-1000で16MBのROMバッファを確保
	アイコン/イメージをpochiさんのものに変更
	フォントをいくつか追加（ネットワークアップデートではなく、ZIPファイルに同梱）
	フォント初期化失敗時にフリーズするのを修正
	IRQ割込時に、IMEレジスタの0ビット以外もチェックしていたのを修正（これによる不具合が出ていたかどうかは不明）
	デバッグ用に、旧型として起動するオプションを追加（再起動後に有効）
	デバッグ用のオプションを追加（テスト用の情報をメモステにガリガリ書き込むので注意）

-UnOfficial gpSP kai 3.3 test 1 build 172 svn rev.392
	R連打が有効になっていなかったのを修正
	ビルド番号を追加
	ロードステート時に音ズレが起こるのを修正
	CFW3.71 M33-3以下の場合はPSP-2000でもTV出力/追加メモリには対応しない様にした
	video.cfgの改行コードをLF+CRにも対応
	CFW3.95GENに対応するために、追加メモリは以前のように自前で管理するようにした
	ZIPファイルの解凍時に、PSP-2000は解凍用バッファを（最大）16MB使用（PSP-1000は256KB）

-UnOfficial gpSP kai 3.2 test 9.0 svn rev.
	メッセージ画面 タイトルのバッファオーバーを修正
	フォントメモリ解放時のメモリ破壊を修正

-UnOfficial gpSP kai 3.2 test 8.8 svn rev.
	旧型機でZIPファイル読込み時に、メモリが足りなくなりハングアップするのを修正
	ZIPファイル読込みバッファをVRAMに変更
	ZIPファイル読込みバッファを128KB -> 256KBに変更
	アセンブラのソースを見たら、switchでも最適化されていたので、IOレジスタへのbyte/word書込をswitch文に戻した(gcc賢いな)

-UnOfficial gpSP kai 3.2 test 8.7 svn rev.
	メニュー時の"o"と”x”のボタンの動作を、PSPの設定に合わせるようにした
	チート名の長さ制限を緩和(UTF-8Nにて40文字分確保)
	fbm_print.cのメモリ管理をmalloc/freeに変更
	HOMEキーでの終了時のハングアップを修正
	OAMへのbyte単位での書込処理を修正
	1:1出力時の1ライン欠けを修正
	テレビ出力時のパラメータを調整
	ビデオ初期化のバグを修正
	内蔵のテレビ出力時のパラメータを削除(video.cfgが正常に読込めない場合はテレビ出力をしない)
	画面の端に一部のテクスチャが回り込むのを修正(test8.6まではパラメータで回避していた)
	IOレジスタへのbyte/word書込にジャンプテーブルを使用し、速度の安定化
	チートのドキュメントを追加

-UnOfficial gpSP kai 3.2 test 8.6 svn rev.
	半透明処理のバグを修正

-UnOfficial gpSP kai 3.2 test 8.5 svn rev.
	clear_screen()のバグを修正
	フォントファイルの文字コードをUCS2に変更
	上記に合わせて、ナガ10をUCS2に変換してfbm化しました
	メッセージファイルの文字コードをunicode(UTF-8N)に変更
	ハングル文字の10ドットフォントを追加
	font.cfgのフォーマットを変更
		1番目がメインのフォントファイル
		2番目がサブのフォントファイル
		サブフォントのグリフが優先されます
	文字表示の半透明処理を削除
	言語設定を"チート/その他"のオプションに追加
		次回起動時に有効になります
	PSP本体からのアップデートに対応するため、settingsフォルダをcfgにリネーム
	(インストールするパス名は12文字までの制限があるようです)
	同様に標準インストールフォルダをgpSPに変更
	同様にGBAのsaveフォルダをGBA/SAVに変更

	ソースコード
	グローバル変数の頭にg_をつけた(まだ一部のみ)
	scrollbar()を汎用化
	FILE_READ_MEMとFILE_WRITE_MEMを汎用化
	ビデオエミュレーション部と画面描画周りのソースを分離

-UnOfficial gpSP kai 3.2 test 8 svn rev.360
	メニューへの切り替えを多少高速化
	起動時のTV画面への切り替えミスを修正
	キーマップの読込/保存ミスを修正
	TV出力のパラメータを全面的に調整
	screen_flip()をほんの少し高速化
	kernelモードでのビルド設定をすべて削除
	Cコアエミュレート部分を全て削除
	cpu_threaded.cをcpu.cに統合
	savestate関係のマクロを整理
	TV出力/ratio16:9/拡大表示時の設定を変更
	※ratio16:9でのTV出力時は上下に黒枠を作るので、解像度はratio4:3に劣ります

-UnOfficial gpSP kai 3.2 test 07 svn rev.351
	メッセージファイルの変更
	MENUのチート/その他の設定にHOMEボタンの有効/無効を追加
	MENUのグラフィック/サウンドの設定にTV出力時のratio/interlaceの設定を追加
	画面比率は内部的には何も行っていません、対応したパラメータを読み込むだけです
	gpsp.cfgにHOMEボタンの設定値を追加
	gpsp.cfgにキーマップの設定値を追加
	(サイズが36byte->104byteになっていますが、自動で更新されます)
	PSP本体のメニュー画面にフィルタがかからないように、video.cfgを更新
	キーマップをデフォルトかゲーム固有に切り替えられるようにした
	終了時にgame cfgが保存されていなかったのを修正
	フィルタの設定が反映されなかったのを修正
	PSP-2000のCFW3.60に対応していなかったので、修正した

-UnOfficial gpSP kai 3.2 test 06 svn rev.346
	メッセージファイルの変更
		ロシア語用のメッセージ/フォントファイルのファイル名を変更
		中国語/韓国語のメッセージ/フォントファイルを追加(翻訳はしていません。内容は英語と同じです)
		メッセージファイルに画面モードoption1/option2を追加
	config周り
		video.cfgを追加
			ファイルがない場合は標準設定にて起動します
			エラーチェックはしていないので、パラメータによってはフリーズします
			サンプルとしてoption1に180度回転モードを設定してあります
		cfgファイルにヘッダを追加
		gpsp configとgame configを構造体に変更、
		config周りを大幅に変更
		キー設定、バックアップ設定、オーディオバッファ設定をゲームごとの設定に変更
	画面周り
		画面設定周りのパラメータを全て構造体に変更
		上記により画面設定周りの関数を統廃合
		TV出力時のメニュー画面拡大に対応可能にした(現在パラメータは未調整)
		GU周りのコメントを微妙に追加
		MENU画面をダブルバッファリングにし、ちらつきを低下させた
		画面クリアをGUにて行う様にした
		画面サイズのオプションを2種類(option1,option2)追加
		video.cfgにはスクリーン比とインタレースの設定がありますが、MENUに追加していないので、現在は4：3、ノンインタレース固定です
	その他
		GBAのメモリの初期化を調整
		キャッシュ用バッファを増加(一部の動作不具合解消・一時的な対策・どこかで不正メモリアクセスをしている模様)
		HOMEキーを押したままにすると、メニュー/ゲーム画面が高速切替になってしまうのを修正
		クロックの設定値をテーブルにした

-UnOfficial gpSP kai 3.2 test 05 svn rev.319
	スタックサイズを調整し、ZIPファイル使用時の不具合に対応
	HOMEボタンでのメニューに対応
		(現在ボリューム表示がありませんが、test06にて実装予定です)
	NJ氏のhomehook.prxを、HOMEボタン以外も読込めるように拡張して使用
		(ボリュームボタンやNOTEボタンも読込めるようにしています)
	ソースのディレクトリ構成を大幅に変更
	prxにてカーネルモード特有の機能を使えることがわかったので、カーネルモードのコンパイル設定を削除
		ソースにはまだ#ifdef等が残っています。将来削除予定。
	テレビ出力のフル画面に対応
		PSP-2000＆CFW.71のみサポート
		本体の設定にかかわらず、ゲーム中でもケーブルを接続し、メニューに出入りすれば切替えられます
		画像出力の最大領域は690x460の様です
		フルスクリーンモードでは上下左右が一部表示されませんが、整数倍なので美しい表示です
		3：2拡大モードでは、全ての領域が表示されます
		内部レンダリング自体はGBAと同じ240x160
		動作確認はLCD-TV241XBR-2のD端子接続で確認しました
		S/コンポジットはケーブル無し、コンポーネントは接続機器もないので確認できていません
		(モニタによる相性もあるかと思います、TVアウト時のパラメータは将来はファイル読込みにしたいと思います)
	サウンドのボリュームを元に戻しました

-UnOfficial gpSP kai 3.2 test 04 svn rev.282
	zipファイル使用時のフリーズバグの対応
	PSP-2000でのスリープ時のメモリ破壊に対応(NJ氏のHPでのコメントを参考にしました)

-UnOfficial gpSP kai 3.2 test 03 svn rev.278
	AHDOCの初期化/初期化テストを追加
		WLANがONになっている場合、モジュールの読込み・待受けテスト・切断を行います
	DirectSoundの音ズレを修正

-UnOfficial gpSP kai 3.2 test 02 svn rev.271
	増設メモリの判定にファームのバージョンチェックを追加
	拡大時に表示される上下の薄い線の除去
	Makefileの分割
	バイナリをFW3.xxユーザーモード/64MB版に統合
	ROMロード画面をキャンセルしたときに、グラフィック/サウンドオプション画面に移動してしまうのを修正

-UnOfficial gpSP kai 3.2 test 01 svn rev.260
	ステートロードのスロットがずれるバグを修正
	FW3.xxユーザーモード用のビルドに対応
	新型PSPの増加メモリーに対応
	標準PSPSDK+3.71M33付属のSDKにてビルド

-UnOfficial gpSP kai 3.1 svn rev.252
	make用のディレクトリを変更
	拡大表示時の右端のゴミ表示を修正
	サウンドの乱れるバグを修正
	ステートセーブ/ロードのバグを修正

-UnOfficial gpSP kai 3.1 test 18 svn rev.241
	拡大画面時の調整
	GUIのアルファブレンド関数/テーブルデータを削除
	ステートセーブにSLOT 10を追加
	SLOT10はメモステを使わずに、メモリーにロード/セーブを行う
		メモステに対するロード/セーブを行った時点で内容は上書きされる
		終了時やロムのロード時にも破棄される
	ROM INFOにCRC32を追加
		16MBを超えるROMの場合は"0"を表示
	yes/no ダイアログを追加
	ステートロード/セーブ時にダイアログを表示
	アナログのON/OFF設定をメニュー画面でも有効にした
	マリオ＆ルイージRPGのフリーズ問題を修正

-UnOfficial gpSP kai 3.1 test 17 svn rev.225
	拡大画面時に、上下がわずかに欠けるのを修正
	メニュー画面からのsave state時のバグを修正
	ROMインフォをメニュー画面に常に表示
	IWRAM読込みのエンバグを修正
	ARM/THUMBのADC/SBC/RSC命令を再調整
		bit Generations Boundishでの不具合修正
	一部のROMで画面が乱れるのを再修正
	load/save state時のノイズ/画面の乱れを修正

-UnOfficial gpSP kai 3.1 test 16 svn rev.220
	一部のROMで画面が乱れるのを修正
	サスペンドの反応速度向上
	プログレスバーをGBA画面時の表示に対応
	load/save state時にプログレスバーを表示
	スクロールバーの追加

-UnOfficial gpSP kai 3.1 test 15 svn rev.213
	HOMEボタンを押したときにメニューに移行する様にした
		HOMEを押したときの反応を向上
	ロード時のプログレスバーの表示を追加
	palette0の透明にとりあえず対応(Bit Generations/Dotstreamの表示されないOBJに対応)
		他のROMで不具合があるかもしれないので、情報お待ちしています

-UnOfficial gpSP kai 3.1 test 14 svn rev.209
	セーブステート時のフレームスキップの動作を調整
	UIの追加(NJ氏のCPS2 Emuのソースを再利用させていただきました)
		配色にセンスがないのは勘弁して下さい。よりよい配色をお待ちしてます
	起動時にWLANがONになっていた場合、接続テストを行う
	高負荷時にHOMEやVOL+/-キーが効かないのを修正

-UnOfficial gpSP kai 3.1 test 13 svn rev.202
	定期的にでていたノイズを修正
	ZIPファイルが読めなくなっていたのを修正

-UnOfficial gpSP kai 3.1 test 12 svn rev.198
	ディレクトリの相対参照のバグを修正
		セーブデータのロードの出来ないバグを修正しました

-UnOfficial gpSP kai 3.1 test 11 svn rev.191
	サウンドのノイズの対応
	傾きセンサの調整
	チートのROM書込に対応(6aaaaaaa 0000ddddのパターン)
		ただし、16MB以下のROMのみ
		一度有効にすると無効になりません
	アイコンの変更(frmb0001さんからの提供です)
		背景を追加するとタイトルが表示されないので、test版では無しにしておきます
	BIOSエラーのメッセージを意訳
	メッセージデータの内部フォーマットを変更して省メモリ化
	パレットを変更して多少高速化
	サウンドスレッドの調整
	ロードステート時のフレームスキップの動作を調整
	タイマーの調整
	ディレクトリの設定を相対参照に変更

-UnOfficial gpSP kai 3.1 test 10 svn rev.177
	サウンドのON/OFFを有効にした
	傾きセンサを実装(アナログPADで操作できます/使用時は割り当てを全てNONEにして下さい)
	各所微調整
	BIOSの0xD/getChecksumの実装

-UnOfficial gpSP kai 3.1 test 09 svn rev.170
	ステートセーブのデータが読めないバグを修正
		申し訳ありませんが、test 8で保存したデータは読めません
	サウンドスレッドの調整

-UnOfficial gpSP kai 3.1 test 08 svn rev.165
	サウンドの遅れの調整
	フレームスキップ処理の調整
	サウンドのバグを修正
	定期的にでていたノイズを修正
	サウンドバッファの設定を有効にした

-UnOfficial gpSP kai 3.1 test 07 svn rev.150
	タイマー処理の調整
	サウンドの遅れの調整
		サウンドバッファの設定は現在機能していません、内部固定です
		将来はサウンドバッファの設定を削除する予定です
		現在の設定値は、以前の2倍の精度になっています
		チャンネルごとのズレは現在調査中です

-UnOfficial gpSP kai 3.1 test 06 svn rev.135
	ZIPファイル読込み時の不具合を修正

-UnOfficial gpSP kai 3.1 test 05.1 svn rev.129
	サウンドの遅延を修正

-UnOfficial gpSP kai 3.1 test 05 svn rev.125
	カーネルモードで動作するように変更
	サウンド周りを非SDLにした
	statesaveの日付表示を修正
	上記に伴い、statesaveファイルのサイズを506947 -> 506951に変更
		古いファイルも読込み時に自動判別して読み込みます
		保存時に新しい形式で保存されます
	デフォルトディレクトリの変更
	分割EBOOT.PBPの廃止
		DEVHOOKやFW1.0~1.5を使用している方は各自対応して下さい
	フォーラムからのソースを元に多数修正 thanks ?????

-UnOfficial gpSP kai 3.1 test 04 svn rev.65
	プチノイズの低減
	チート数を30個に変更
	チートメニューのページ切替に対応
	チートが有効にならなかったのを修正
	game cfgファイルをチートの増加に対応
		昔のgame cfgファイルは削除して下さい、新しいものは136byteになっています

-UnOfficial gpSP kai 3.1 test 03 svn rev.45
	スリーブ時のフリーズに対応
		スリーブ復帰後はメニュー画面になります

-UnOfficial gpSP kai 3.1 test 02
	ちょこっと最適化
	サウンドバッファの設定を2048～に戻した
	サウンドの定期的なプチノイズの対応

-UnOfficial gpSP kai 3.1 test 01
	不正なBIOSコールを無視するようにした
		一部の特殊なROMに対応
	サウンド周りを少し調整
	ARM/THUMBのSBC/RSC命令を再調整
		ドンキーコング3の音が出ていなかったのに対応
	I/Oレジスタの0x410～0x800に仮対応
		一部の特殊なROMに対応

-UnOfficial gpSP kai 3.0
	ソースを少し整理

-UnOfficial gpSP kai ml 3.00 test 10
	BIOSの設定をミスしていたのを修正
	FPS表示時に余計なI/Oを表示していたのを修正

-UnOfficial gpSP kai ml 3.00 test 9
	バックアップセーブの不具合修正
	スクリーンショットをBMPで実装
		PNGライブラリは不必要になりました
	タイミングによっては、セーブデータが壊れるバグを修正
	BIOS HALTを仮実装
	BIOSコール周りを将来用に調整

-UnOfficial gpSP kai ml 3.00 test 8
	FF6Aの対応
		thumb sbc命令のc flagのバグを修正
	スクリーンショットでハングアップする。test 9にて修正予定
	romをロードしないで終了すると、一瞬ブルースクリーンになるのを修正
	Kingdom Hearts - Chain of Memoriesのムービーがフリーズしなくなった(画像はボロボロですが)

-UnOfficial gpSP kai ml 3.00 test 7
	BIOSの処理をdivArm以外は元に戻した
		不具合が多かったため(速度面で捨てがたいものがあるので、将来は何とかしたい)
	残りのメモリと、ROM用バッファサイズを表示するようにした

-UnOfficial gpSP kai ml 3.00 test 6
	サウンドのズレを修正
	メトロイドフュージョンのセーブデータ選択画面のステータス異常を修正
	BIOS内のdivArm,sqrt,cpuset,cpufastsetをネイティブで実装
		将来BIOS無しで動かせるためのテスト
		キングダムハーツが起動できなくなってます
	Makefileの修正

-UnOfficial gpSP kai ml 3.00 test 5
	タイマのカウンタ処理をさらに修正
		ユグドラユニオンの不具合修正
	Makefileの修正
	この二点は特殊な状況でしか発生しないと思われるので、とりあえずそのまま放置
	サウンド周りをほんの少し最適化
	今回からver1.0とver1.5を同梱

-UnOfficial gpSP kai ml 3.00 test 4
	RPGツクールアドバンスの音がおかしくなるバグを修正
		タイマのカウンタ処理を修正
	サウンドにプチプチとノイズが入っていたので、mips_stub.Sの一部を0.9に戻した

-UnOfficial gpSP kai ml 3.00 test 3
	gpSP0.91での変更点をほぼ取り込みました
		残りはデバッグ関係の実装と、arm_stub.S/arm_emit.hをそれぞれPSP用に移植することです
	32MBのROMを実行時にPSPをスリープさせると、復帰時にハングアップするのを部分的に修正
		メニューを表示させた状態でスリープさせれば、ハングアップしない様にしました
	サウンド周りを少し最適化・高精度化
	画面表示周りを少し最適化
		上記2点により2～3FPS向上しています
	0.91のgame_config.txtに日本のROMを追加

-UnOfficial gpSP kai ml 3.00 test 2
	gpSP0.91での変更点を一部取り込みました
		FPSの表示(キーコンフィグにて適当なキーに割当てて使用します)
		VOL UP/DOWNは実装していません
	上記によるmsgファイルの更新
	HOMEボタンで終了できなかったのを修正

-UnOfficial gpSP kai ml 3.00 test 1
	gpSP0.91での変更点を一部取り込みました
		cpu周りは大幅な変更が必要なため、あまり取り込んでいません
		細かい修正も行っていません
	イタリア語のメッセージファイルの追加
	アイコン画像の追加
		thanks Luca Lefebre

-UnOfficial gpSP kai ml 2.92
	マルチランゲージに対応
		PSPの言語設定で選んだ言語のファイルを自動で使用する
	message.cfg/font.cfgを*.msg/*.fntにリネーム
	dir.cfg/*.msg/*.fntをsetting/の下に移動
	日本語しかできないので、英語/日本語以外はそれぞれ書き換えて使ってください

-UnOfficial gpSP kai jp 2.91
	非正規のBIOSでも起動できるようにした
	message.cfgの追加

-UnOfficial gpSP kai jp 2.9
	メニューでの時計表示/バッテリー残量表示を追加
	終了時に222MHzに戻す様にした
	メニューから○や×ボタンでゲームに戻る時に、ゲーム内でボタンを認識させない様にした
		(ボタンを放した時点で戻ります)
	ROM等の選択時にR/Lボタンでの5行ごとの移動を追加
	BBSに寄せられた情報による、RTC廻り/mips_stub.Sの修正
	日時の表示フォーマットにPSPのレジストリを参照
	1.5用のフォルダ名を破損ファイル非表示に対応
	正規のGBA/NDSのBIOSで起動可能
	statesaveのファイル名のROM名とスロット番号の間に"_"を入れた
	メニューのグラフィック/サウンドの設定にスクリーンショット機能を追加
		PNG RGB 24bit形式でdir.cfgで設定したフォルダに、ROMファイル名+年月日時間で保存されます
	メニュー時にアナログキーでの操作を追加
	上記に伴うmessage.cfg/dir.cfgの変更
	メニュー画面をカスタマイズしやすいように、メッセージの順番を入れ替えた
	message.cfgの翻訳の追加
	メニューにチートファイルの読み込みを追加
	非暗号のチートに対応
		フォーマットは
			direct_v? チート名
			AAAAAAAA DDDDDDDD
		direct_v?が非暗号用の識別子で、v1でPAR V1/V2用・v3でPAR V3用の暗号化前のデータが使える
		AAAAAAAAがオペコード/アドレス、DDDDDDDDがデータ

	ソースからのビルドにlibpngが必要

-UnOfficial gpSP kai jp 2.8
	gpSP0.9をベースにしました~
	各種メッセージ類をmessage.cfgに分離~
	フォントの設定ファイルfont.cfgを新設~
	fbmフォントとmessage.cfgを用意すれば多言語に対応~
	各種ディレクトリ設定ファイルdir.cfgを新設~
	サウンドバッファが2048で落ちるのを(とりあえず)修正~
	backupの保存を終了時にしている場合、HOMEキーでの終了時にもbackupを保存するようにした~
	backupの保存を終了時にしている場合、別ゲームのロードを行った際にもbackupを保存するようにした~
	8個までのidle_loop_eliminate_targetに対応~
	ステートセーブ/RTCの時刻にPSP本体の設定を使用するようにした~

	cfgファイルのフォーマットについて
		行頭が#の行はコメント文です
		行頭の!以降、改行までがデータです
		!文が続いた場合、内部で連結されます
		単純に順番に読み込んでいるだけなので、順番を変えると正常に動きません
		1データに付き511byteまでです。超えた場合正常に動きません
		エラーチェックはほとんどしていません
		メッセージを編集する際は、データー内の%s,%d等は必ず残してください

-gpSP kai 2.7
	欠番

-gpSP kai 2.6
	kai 2.5のバグ修正
		vram読込/書込時のバグ修正(再修正)
			0x18000に読込/書込したときの修正
		vramを一部破壊していたのを修正
		サウンドのRLチャンネルの入れ替え(gbc互換サウンドも修正)(96氏より)
	高速化/最適化
		チートコードを標準でOFFにした
			必要ならばmake -e"OPT=-DCHEAT"でビルドしてください
		メインループの不要な変数操作を削除
		mips_stub.Sの一部をdelay slotを使用するようにした(5氏より)
		mips_stub.Sのマクロを展開しdelay slotを使用する様にした
	新規対応
		桃太郎電鉄を動くようにした(5氏より)

	拡張
	debugモードの追加
		make -e"OPT=-DDEBUG_MODE"でビルドすることによりdebugモードが追加されます
		画面サイズをdebugにして△+上下にて表示モード切替です
		mode 0 表示無し
		mode 1 VBALNK割込みに同期して表示
		mode 2 HBLANK割込みに同期して表示

	for eLoader
		クロックの設定を行わないようにした
		eloaderで設定したクロックで起動すると思われます

	ビルド時のオプションについて
		make kxploit で1.5用の実行ファイル作成します
		make -e"OPT=～" でオプションを設定します
			OPT=-DDEBUG_MODE	デバッグモード
			OPT=-DCHEAT			チート有効
			OPT=-DELOADER		eLoader対応
		例)1.5用実行ファイルをeLoader,デバッグ,チート対応で作成
			make kxploit -e"OPT=-DDEBUG_MODE -DCHEAT -DELOADER"

-gpSP kai 2.5
	簡易/バグの多い チート機能の追加
		アドレス0x02000000～(ewram)と、0x03000000～(iwram)に対応
		1byteの書換えのみ対応

		ファイル名は"ROMファイル名".chtです。ROMファイルと同じ場所においてください
		ROMファイル名が"rpg.gba"の場合、"rpg.cht"です

		ファイルのフォーマットは
			#コメント行
			 コード名称:アドレス:byte data(16進)です。
		例
			#cheat test
			test 01:0200123F:6F

		コードのサーチやチートのON/OFFはまだ出来ません。

	vram書込時のバグ修正(130氏より)
	sramサイズ自動判定のバグ修正
	カービィの不具合修正(5/104氏より)
	サウンドのRLチャンネルの入れ替え(96氏より)
	メダロットナビの不具合修正(5/104氏より)

	for eLoader
	8MB以上のROMの分割ロードに対応
		8MB以上のROMはZIP圧縮に対応していません
		Clock Speed 300MHz/Bus Speed 150MHzに設定

-gpSP kai 2.4
	画面の表示モードを追加。
		unscaled 3:2				(既存のモード)
		scaled 3:2(LINEAR)			(既存のモード)
		fullscreen 16:9(LINEAR)		(既存のモード)
		scaled 3:2(NEAREST)			(フィルターを使用しないモード)
		fullscreen 16:9(NEAREST)	(フィルターを使用しないモード)
		scaled 1.75(NEAREST)		(1.75バイモード/上下 4dotが切れます)

-gpSP kai 2.3
	sound I/Oのbug fix。
		いくつかのゲームが動くようになりました。

-gpSP kai 2.2
	save stateの高速化。

-gpSP kai 2.1
	idle_loop_eliminate_targetの複数値に対応。

-gpSP kai 2
	sound buffer sizeのコンフィグを追加。
		2048～12288まで設定可能。(デフォルトは2048/オリジナルは8192)

	設定したsound buffer sizeをGAME CFGファイルに保存されるようにした。
		GAME CFGファイルのサイズが12byte -> 16byteに変更。

-gpSP kai (1)
	アナログパッドのコンフィグを追加

	設定したsound buffer sizeをgpSP CFGファイルに保存されるようにした。
		gpSP CFGファイルのサイズが56byte -> 72byteに変更。

takka
takka@tfact.net
blog http://takka.tfact.jp/blog/
svn  http://sourceforge.jp/projects/gpsp-kai

</pre>